div {text-align:center;}

h1 {text-align:center; font-family:cursive; font-size:70px;}

img.penguins {margin-top:100px; -webkit-filter:sepia(75%); filter:sepia(75%); border-style:solid; border-width:thin; border-radius:500px;}

img.football-field {margin-top:100px; margin-bottom:100px; border:40px solid #000; border-image:url(BasicWebDesign/images/tic-tac-toe.png) 27 round;}

img.dinosaur {margin-top:100px; margin-bottom:100px;}

img.seagull {margin-top:100px; margin-bottom:100px;}

img.butterfly {margin-top:100px; margin-bottom:100px;}

img.theater-stage {margin-top:100px; margin-bottom:100px;}